* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

header {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

main {
    background-color: #fff;
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

section {
    width: 660px;

}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

header a {
    text-decoration: none;
}

header a:link, header a:visited {
    color: #fff;
    padding: 8px 12px;
}

header a:hover {
    color: #f7b600;
    background: #fff;
    text-decoration: none;
}

.branco {
    color: #fff;
}

footer {
    clear: both;
    text-align: center;
    font-weight:bold;
    padding: 15px;
    background: #ccc;
}

h1 {
    color: #565656;
    font-size: 2.5em;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #565656;
    background: #ccc;
    padding: 5px;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.menu, .logo {
    padding: 10px;
}

article {
    margin-bottom: 25px;
}

#central {
    width: 660px;
    float: left;
}

#lateral {
    width: 240px;
    float: right;
}